---
---
    
@import mixins/reset
@import mixins/gradients
@import mixins/hs
@import mixins/opensans
@import mixins/media

////
////// html/body styles
////

html > body
    // background: rgba(246, 247, 251, 1)
    font-family: "Open Sans", Helvetica, Arial, sans-serif
    line-height: 1

.wrapper
    width: $wide-content-width
    max-width: calc(100% - 3rem)
    max-width: calc(100% - 3rem - env(safe-area-inset-left) - env(safe-area-inset-right))
    margin: 0 auto

html, body
    height: 100%
    background: $dark-colour // so overscroll looks nicer
    letter-spacing: 0.02em

body
    display: flex
    flex-direction: column

    > content
        flex: 1 0 auto

////
////// header styles
////

header
    background: $header-bar-colour
    padding: 5.2em 0 1.8em
    .wrapper
        width: $wide-content-width + 5.3rem

    .logo
        @include mobile
            text-align: center
            width: 100%
        a
            display: inline-block
            text-decoration: none
            padding: 0.4em 0.2em 0.4em 0
            vertical-align: center
            .logoimg
                display: inline-block
                max-height: 100%
                height: 3.2rem
                padding-top: 0.1em
    nav.pagenav
        flex-grow: 1
        flex-shrink: 0
        text-align: left

        .breadcrumbs
            li
                display: inline-block
                @include mobile
                    display: none
                margin: 1.2em 0 0 2.6em
                padding: 0.3em 0.4em 0.4em
                border-left: 0.12em solid transparent
                &.active
                    border-left: 0.12em solid $link-colour
            a
                display: inline-block
                text-decoration: none
                font-weight: 300
                font-size: 0.9em
                color: $link-colour
                &:first-of-type
                    padding-left: 0
                &:last-of-type
                    padding-right: 0
    nav.hsknav
        flex-grow: 1
        flex-shrink: 0
        text-align: right
        .fa-chevron-down
            padding-left: 0.3em
        .grouping
            display: inline-block
            break-inside: avoid
            + .grouping
                margin-left: 1.7em
        li
            display: inline-block
            @include tabletorless
                display: none
            margin: 1.2em 0 0 2.6em
            padding: 0.3em 0.4em 0.4em
        a
            display: inline-block
            text-decoration: none
            font-weight: 300
            font-size: 0.9em
            color: $link-colour
            text-transform: uppercase
            &:first-of-type
                padding-left: 0
            &:last-of-type
                padding-right: 0
            &.accountlink
                color: transparent
        
        #useraccountdropdownmenu
            display: none
            &.dropped
                display: block
                @include mobile
                    display: none
            position: absolute
            width: 10em
            background: $header-bar-colour
            margin-left: -4.8em
            margin-top: 1.5em
            border-radius: 0.3em
            li
                display: block
                margin: 0
                padding: 0
                a
                    padding: 1em
            li:last-child a
                padding-bottom: 1.35em

    .burgermenu
        display: none
        @include tabletorless
            display: block
        color: $link-colour
        padding: 0.7em 1em
        font-size: 1.7em
        position: absolute
        right: 0
        right: calc(env(safe-area-inset-right))
        cursor: pointer
    > .wrapper
        display: flex
        flex-direction: row
        align-items: center

#burgernav
    display: none
    &.dropped
        display: block
        @include desktop
            display: none
    padding: 1.6em 0
    a
        display: block
        text-decoration: none
        padding: 0.4em 0
    hr
        visibility: hidden

// content
content
    background: $content-bg
    color: $text-colour

    .wrapper
        padding: 1.85em 0 2.14em

////
////// blog styles
////

// frontpage and article list styles
.withsidebar
    display: flex
    flex-flow: row
    > .articles, > .authors
        flex-grow: 1
        flex-shrink: 1
    > .sidebar
        flex-grow: 0
        flex-shrink: 0

.article
    display: flex
    flex-flow: row
    @include tabletorless
        flex-flow: column

    background: $window-colour
    padding: 1em 1.2em
    border-radius: 0.6em

    + .article
        margin-top: 0.8em

    > .info
        flex-grow: 0
        flex-shrink: 0
        width: 14em
        margin-right: 1.7em
        @include tabletorless
            width: 100%
            margin-right: 0
        h1
            font-size: 2.4em
            font-weight: 400
            color: $text-colour
            margin-bottom: 0.3em
        .author, .authorlinks, .date, permalink
            display: block
            font-size: 1.05em
            margin: 0.3em 0
        .author a
            font-weight: 600
            color: $text-colour
            text-decoration: none
        .authorlinks img.icon
            height: 1.2em
        .permalink
            font-size: 0.9em
            text-decoration: none
            margin-top: 0.9em
    > .content
        flex-grow: 1
        font-size: 1.1em
        line-height: 1.3
        letter-spacing: .013em
        color: $text-colour
        @include tabletorless
            margin-top: 1.6em

.authors > div
    background: $window-colour
    padding: 1em 1.2em
    border-radius: 0.6em

.authordetails
    display: flex
    flex-flow: row
    > .avatar
        flex-grow: 0
        flex-shrink: 0
        width: 9em
        @include mobile
            width: 6em
        margin-right: 1.7em
        img
            display: block
            width: 9em
            @include mobile
                width: 6em
            max-height: 7.5em
            margin: 0 auto
            &.circle
                border-radius: 99em
                border: 1px solid #fff
                box-shadow: rgba(15, 45, 70, 0.48) 0 1px 1px
                background: #fff
                width: 7.5em
                height: 7.5em
                @include mobile
                    width: 5em
                    height: 5em
    > .content
        flex-grow: 1
        font-size: 1.1em
        line-height: 1.3
        letter-spacing: .013em
        color: $text-colour
        h2
            font-size: 1.4em
            margin-bottom: 0.1em
            margin-top: 0.5em
        h3
            margin-bottom: 0.1em
            margin-top: 0.5em
        .authorlinks
            display: block
            margin-top: 1em
            img.icon
                height: 2em
    &:not(:first-child) .content h2
        margin-top: 1.6em

@include tabletorless
    body.authors .sidebar
        display: none
    .info .authorlinks
        display: inline-block !important
        margin: 0 0 0 0.3em !important
        img
            max-height: 1em
@include mobile
    .sidebar
        display: none

.sidebar
    margin-left: 0.7em
    > div
        width: 19em
        padding: 0 1.2em 1em
        border-radius: 0.6em
        box-sizing: border-box
        h2
            font-size: 1.55em
            font-weight: 300
            margin-bottom: 0.8em

            &:not(:first-child)
                margin-top: 1.5em
        .search
            box-shadow: rgba(15, 45, 70, 0.18) 0 1px 1px
            background: $window-colour
            width: 100%
            padding: 0.3em 0.4em
            box-sizing: border-box
            border-radius: 0.3em
            display: flex

            input[type="text"]
                border: none
                font-size: 1.1em
                font-weight: 300
                color: rgba(255, 255, 255, 0.96)
                background: none
                flex-grow: 1
            .submit
                height: 1.8rem
                flex-shrink: 0
        .articlelink
            width: 100%
            line-height: 1.2
            + .articlelink
                margin-top: 1.7em
            h3
                font-size: 1.1em
                font-weight: 400
                margin-bottom: 0.3em
                color: $text-colour
            p
                font-size: 0.924em
                margin: 0.8em 0
                color: $text-colour
            a.readmore
                font-size: 0.9em
                color: $link-colour
                text-decoration: none
                display: inline-block
                padding: 0.4em 0.55em 0.41em
                border: 2px solid rgba(0, 255, 235, 0.74)
                border-radius: 0.1em

////
////// landing page styles
////

.flex-nav-bar
    display: none // just while it's still way broken

.flashmessage
    margin-bottom: 1.7em
    > div
        padding: 1.7em 1.9em
        background: $window-colour
        margin: 0 auto
        text-align: center
        width: 60%
        border-radius: 0.3em
    &.alert > div
        background: $secondary-colour

.landing-page-container, .onboarding-container, .pubkey-container, .onnominate-container
    display: flex
    flex-direction: row
    .left
        flex: 0 0 auto
        width: 30%
        margin-right: 2em
        .pageicon-1
            display: block
            margin: 3.4em 0
        .pageicon-2
            display: block
            width: 74%
            margin: 15em 0
        subtitle
            display: block
            font-size: 1.4em
            line-height: 1.7
            font-weight: 300
            margin-bottom: 6em

    .right
        flex: 1 1 auto
        background: $window-colour
        border-radius: 0.34em
        width: 100%

        h1
            font-size: 1.7em
            font-weight: 400
            color: $text-colour
            margin-bottom: 1.7em

.landing-page-container .right
    padding: 8em 7em
    .inputfield
        display: flex
        flex-direction: row
        margin: 1.7em 0
        label
            flex: 0 0 auto
            width: 10em
            text-align: right
            padding-right: 2em
            box-sizing: border-box
            padding-top: 0.95em
        input
            flex: 1 1 auto
            border: none
            font-size: 1em
            font-weight: 300
            color: rgba(255, 255, 255, 0.96)
            background: $content-bg
            padding: 0.9em 1.9em
            border-radius: 0.4em

        > div
            flex: 1 1 auto
            width: 100%
            text-align: right
            padding-top: 0.24em
            box-sizing: border-box
            > span
                display: block
                margin-right: 3em
                font-size: 0.87em
                color: $lighter-text-colour
                font-weight: 300
                + span
                    margin-top: 0.5em
        .submit
            display: inline-block
            margin: 0 0 0 auto
            padding: 1.1em 5.2em
            border-radius: 0.4em
            flex-shrink: 0
            border: none
            background: $button-colour
            color: $text-colour
            font-size: 0.8em
            cursor: pointer

.onboarding-container .right
    padding: 7em
    h1
        margin-bottom: 0.7em
    p
        font-size: 0.943em
        font-weight: 300
        color: $lighter-text-colour
    
    .qual
        margin: 6em 0
        h2
            font-size: 1.2em
            font-weight: 400
            margin-bottom: 1.4em
        .verif-boxes
            display: flex
            flex-direction: row
            justify-content: space-between
            > div
                width: 27%

            .verifybutton
                display: block
                width: 100%
                padding: 1.65em 0
                background: $button-colour
                color: $text-colour
                font-size: 1.1em
                text-align: center
                border-radius: 0.3em
                box-shadow: rgba(15, 45, 70, 0.48) 0 1px 2px
                &.qualified
                    background: #27b573 // users won't see this anyway
            
            subtitle
                display: block
                margin-top: 2em
                font-size: 0.8em
                font-weight: 300
                line-height: 1.4
                color: $lighter-text-colour

    .verif-flow-box
        display: none
        &.show
            display: block
        padding: 1.4em 2em
        background: $content-bg
        border-radius: 0.3em
        margin-top: 1.7em
        h2
            font-size: 1.2em
            font-weight: 300
            color: $lighter-text-colour
            margin-bottom: 0.4em
        p
            line-height: 1.5
        .verifcode
            margin-top: 0.5em
            font-size: 1.1em
            width: 100%
            max-width: 40ch
        #freenodeCode
            word-wrap: break-word
            word-wrap: break-all
        #pgpForm
            background: $window-colour
    #surveyForm
        .splitinput
            display: flex
            width: 100%
            justify-content: space-between
            input
                width: 60%
                + input
                    margin-left: 0.4em
        input, textarea
            border: none
            font-size: 0.9em
            font-weight: 300
            color: rgba(255, 255, 255, 0.96)
            background: $window-colour
            padding: 0.9em 1.9em
            border-radius: 0.4em
            box-sizing: border-box
        textarea
            width: 100%
            margin: 0.4em 0
        .submit
            display: block
            width: auto
            text-align: right
            margin: 0 0 0 auto
            padding: 1.1em 5.2em
            border-radius: 0.4em
            flex-shrink: 0
            border: none
            background: $button-colour
            color: $text-colour
            font-size: 0.8em
            cursor: pointer

    h3
        font-weight: 300
        margin-bottom: 0.4em
        color: $lighter-text-colour

.pubkey-container .right
    padding: 7em
    font-size: 1.2em
    h1
        font-size: 1.3em
        margin-bottom: 0.7em
    h2
        font-size: 0.5em
        font-weight: 400
        margin-bottom: 0.33em
    p, span
        font-weight: 300
        color: $lighter-text-colour
        line-height: 1.3
        strong
            font-weight: 400
            color: $text-colour
    .buttons
        display: flex
        margin: 1.2em 0
    .selbutton
        color: $lighter-text-colour
        font-weight: 300
        line-height: 1.3
        > div
            display: block
            margin: 0.5em auto
            padding: 1em
            max-width: 15em
            border-radius: 0.3em
            background: $button-colour
            color: $text-colour
            text-align: center
        
        + .selbutton
            margin-left: 1.5em

    .checkboxwithtext
        display: flex
        align-items: center
        margin: 1em 0
        cursor: pointer
        input
            margin-right: 2em

    input, textarea
        display: block
        width: 100%
        margin: 0.35em 0
        background: $content-bg
        border: 0
        border-radius: 0.3em
        font-size: 0.9em
        font-weight: 300
        color: rgba(255, 255, 255, 0.96)
        padding:  0.5em 0.6em 0.5em 1.02em
        box-sizing: border-box

    .hsoutput
        display: flex
        align-items: center
        width: 100%
        background: $content-bg
        border-radius: 0.3em
        input
            padding-right: 0
        .hsicon
            padding: 0.3em 0.4em
            color: $text-colour
            &:not(.invisible)
                cursor: pointer
            &:first-child
                padding-left: 0.7em
            &:last-child
                padding-right: 0.7em
        .iconcont
            display: flex
            position: relative
            box-shadow: -0.7em 0 0.7em 0 $content-bg


    #nextprev
        display: flex
        align-items: center
        .navbuttonbak
            font-size: 0.8em
            width: 100%
            text-align: right
            margin-right: 1em
            font-weight: 300
            color: $lighter-text-colour
            padding: 0.6em
        .navbutton
            flex-grow: 0
            flex-shrink: 1
            display: block
            width: 10em
            padding: 0.9em 1.3em
            box-sizing: border-box
            text-align: center
            border-radius: 0.4em
            flex-shrink: 0
            border: none
            background: $button-colour
            color: $text-colour
            font-size: 0.86rem
            margin-right: 0.3em

    label
        display: block
        margin: 2em 0
        span
            display: block
            margin-bottom: 0.3em
            color: $text-colour
            font-weight: 400

    .pkeypage
        min-height: 17em // keeps the prev/next buttons in a roughly-static place

    .errorbox
        padding: 0.9em 1.3em
        background: $secondary-colour
        color: $text-colour
        font-size: 0.9em
        border-radius: 0.3em
        margin: 2em 0 -0.5em

.onnominate-container .right
    padding: 7em
    font-size: 1.2em
    h1
        font-size: 1.3em
        margin-bottom: 0.3em
    .subtitle
        font-weight: 300
        color: $even-lighter-text-colour
        font-size: 0.8em
    h2
        font-size: 0.5em
        font-weight: 400
        margin-bottom: 0.33em
    p, span
        font-weight: 300
        color: $lighter-text-colour
        line-height: 1.3
        strong
            font-weight: 400
            color: $text-colour
    #nominateFriendForm
        margin-top: 2em
    .error-message
        display: none
        height: 1em
        color: red
        margin: 4em 0
    .nomination-row
        font-size: 0.9em
        display: flex
        justify-content: space-between
        flex-direction: row
        padding: 0.6em 0
        font-weight: 300
        color: $even-lighter-text-colour
        &.title-text
            color: $text-colour
        .user-icon
            display: inline-block
            width: 1.8em
            height: 1.8em
            background-color: $disabled-colour
            border-radius: 6em
            margin-right: 0.7em
            float: left
            top: -0.4em
            left: -0.2em
            position: relative
        .email
            flex-grow: 1
            flex-shrink: 1
        .sent, .status
            flex-grow: 0
            flex-shrink: 0
            width: 8em
    hr
        margin: 2em -3em
        border: none
        border-top: 0.13em solid rgba(41, 45, 70, 0.6)
    
    .skiplink
        display: block
        text-align: right
        margin-top: 3em
        font-size: 0.8em
        font-weight: 300
        padding-left: 0.2em
        padding-right: 0.2em

////
////// dashboard styles
////

.graphsbox, .nominatebox, .domainsearch
    background: $window-colour
    padding: 1.2em 1.8em
    border-radius: 0.3em
    h2
        font-size: 1.6em
        font-weight: 400
        subtitle.onright
            margin-left: 0.5em
            font-size: 0.5em
            font-weight: 300
            color: $lighter-text-colour
            strong
                color: $text-colour
                font-weight: 400
.nominatebox, .domainsearch
    margin-top: 0.7em
.domainsearch
    margin-bottom: 4em

.graphwalletrow
    display: flex
    width: 100%
    .active
        color: $link-colour
    .graphsbox
        flex-grow: 1
        margin-right: 0.6em
        .graphs
            display: flex
            justify-content: space-around
            margin: 1em 0 0.5em
            text-align: center
            #emptygraph
                width: 200px
                height: 200px
            .hskicon
                width: 200px
                height: 0
                position: absolute
                img
                    position: relative
                    top: -140px
                    left: 0
                    height: 80px
            subtitle
                // the balancing of subtitles is really tricky
                // don't modify this unless you want to sit here playing with and
                // adjusting it for hours to get it looking balanced again
                display: block
                font-size: 0.8em
                color: $lighter-text-colour
                font-weight: 300
                height: 1.5rem
                &:first-of-type:not(.hascount)
                    padding-top: 0.2em
                    height: 1.3rem
                strong
                    font-weight: 400
                strong.count
                    color: $text-colour
                &.count
                    font-size: 1em
                .count
                    font-size: 1.2em
    .wallet
        flex-shrink: 0
        flex-grow: 0
        width: 25em
        background: $window-colour
        padding: 3em 3.3em
        border-radius: 0.3em
        box-sizing: border-box
        h1
            font-size: 2em
            font-weight: 300
            .hs
                // half of this word is cut off, lol
                font-weight: 400
                display: block
                overflow-y: hidden
                vertical-align: top
                height: 0.74em
                margin: 0.3em 0
            .walleticon
                display: inline-block
                height: 1.05em
                position: relative
                left: 0.24em
                top: 0.16em
        hr
            margin: 2em 0
            border: none
            border-top: 0.13em solid $disabled-colour
        .count
            font-size: 3em
            font-weight: 600
        .currency
            font-size: 1.4em
            font-weight: 100

.nominatebox
    display: flex
    flex-direction: row
    .left
        flex-grow: 1
        margin-right: 0.5em

    .right
        flex-grow: 0
        flex-shrink: 0
        box-sizing: border-box
        width: 22em

        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
        text-align: center

        .count
            h1
                font-size: 2.6em
                font-weight: 400
            subtitle
                display: block
                font-size: 0.9em
                font-weight: 100
                color: $lighter-text-colour
                margin-top: 0.6em
        img.sep
            margin: 0 0.5em 0 0.6em
            width: 2em
            height: 3.9em

.domainlist
    .row
        display: flex
        align-items: center
        width: 100%

        .domain
            width: 100%
            flex-grow: 1
        .availableon, .blocknumber, .button
            flex-grow: 0
            flex-shrink: 0
        
        font-weight: 300
        color: $lighter-text-colour

        .domain
            padding: 2em 0.5em 2em 1.6em
        .availableon
            font-size: 0.8em
            &::before
                content: "Name available on "
        .blocknumber
            font-size: 0.8em
            &::before
                content: "Block number "
            margin: 0 4em
            padding: 1em 0 1em 4em
            border-left: 0.1em solid $content-bg
        .button
            margin-left: 2em
            padding: 0.9em 0.3em
            box-sizing: border-box
            width: 8em
            text-align: center
            border-radius: 0.4em
            flex-shrink: 0
            border: none
            background: $disabled-colour
            color: $text-colour
            font-size: 0.8em
            margin-right: 0.3em
            &.available
                background: $link-colour
                color: $dark-colour
            &.bidding
                background: $secondary-colour
        
        + .row
            border-top: 0.1em solid $content-bg


////
////// nominate friends styles
////

.nominate-friends-container
    display: flex
    justify-content: space-between
    flex-direction: row
    width: 100%

    .nominations-left
        padding: 4.3em 7.5em 8em 4.6em
        flex-grow: 1
        flex-shrink: 1
        border-radius: 0.3em
        max-width: 100%
        background-color: $window-colour
        h2
            margin-bottom: 0.5em
            font-size: 1.6em
            font-weight: 300
        .subtitle
            font-weight: 300
            color: $even-lighter-text-colour
            font-size: 0.84em
        .nonoms
            font-weight: 300
            color: $lighter-text-colour
        #nominateFriendForm
            margin-top: 3em
        .error-message
            display: none
            height: 1em
            color: red
            margin: 4em 0
        .nomination-row
            font-size: 0.9em
            display: flex
            justify-content: space-between
            flex-direction: row
            padding: 0.6em 0
            font-weight: 300
            color: $even-lighter-text-colour
            &.title-text
                color: $text-colour
            .user-icon
                display: inline-block
                width: 1.8em
                height: 1.8em
                background-color: $disabled-colour
                border-radius: 6em
                margin-right: 0.7em
                float: left
                top: -0.4em
                left: -0.2em
                position: relative
            .email
                flex-grow: 1
                flex-shrink: 1
                width: 100%
            .sent, .status
                flex-grow: 0
                flex-shrink: 1
                width: 16em
        hr
            margin: 3em -4em 3em -2em
            border: none
            border-top: 0.13em solid rgba(41, 45, 70, 0.6)

    .nominations-right
        padding: 2.2em 2.8em
        flex-grow: 0
        flex-shrink: 0
        border-radius: 0.3em
        background-color: $window-colour
        margin-left: 0.5rem
        h3
            font-weight: 300
            margin-bottom: 2em
        .nomination-reward-info
            font-size: 0.7em
            font-weight: 300
            margin-top: 1.5em
            + .nomination-reward-info
                margin-top: 0.6em

    .nominations-info
        padding: 0 1em
        display: flex
        flex-direction: row
        justify-content: space-between
        text-align: center
        .count
            h1
                font-size: 2.6em
                font-weight: 400
            subtitle
                display: block
                font-size: 0.9em
                font-weight: 100
                color: $lighter-text-colour
                margin-top: 0.6em
        img.sep
            margin: 0 0.5em 0 0.6em
            width: 2em
            height: 3.9em
////
////// password reset styles
////

.resetpassword-container
    width: 50%
    margin: 0 auto
    min-width: 20em
    padding: 2.2em 2.8em
    border-radius: 0.3em
    background-color: $window-colour
////
////// footer styles
////

footer
    background: $window-colour
    color: $text-colour
    font-size: 0.9rem
    font-weight: 300
    padding: 2rem 0 6rem
    padding-bottom: calc(6rem + env(safe-area-inset-bottom))
    box-sizing: border-box
    a
        color: #ebebeb
        text-decoration: none
        &:hover
            color: #ccc
    h2
        font-weight: 400
        font-size: 1.3em
        margin-bottom: 1em
    .mailinglistsub
        h2
            font-weight: 400
            font-size: 1.5em
            margin-bottom: 0.5em
    li + li, p + p
        margin-top: 1em
    > .wrapper
        display: flex
        flex-flow: row wrap
        align-items: top
        > .linklist
            flex-grow: 1
            width: 10em
            padding-top: 2rem
        > .mailinglistsub
            flex-grow: 1
            width: 20em
            padding-top: 2rem

////
////// generics styles
////

h1, h2, h3
    letter-spacing: 0

a
    text-decoration: none
    transition: color 0.3s ease
    color: $link-colour
    &:hover
        color: saturate(darken(#00FFEB, 10%), 10%)

p + p
    margin-top: 0.9em

.code, code, pre, tt
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace

.invisible
    visibility: hidden !important
.hidden
    display: none !important

.emailinput, .generalinput
    box-shadow: rgba(15, 45, 70, 0.18) 0 1px 1px
    background: $content-bg
    width: 100%
    padding: 0.25em 0.3em 0.25em 0.3em
    box-sizing: border-box
    border-radius: 0.35em
    display: flex
    margin-top: 1.5em

    input[type="text"]
        border: none
        font-size: 1em
        font-weight: 300
        color: rgba(255, 255, 255, 0.96)
        background: none
        flex-grow: 1
        padding-left: 1.02em
        border-radius: 0.3em
        margin-right: 0.3em // display autocomplete better in webkit
    .submit
        cursor: pointer
        padding: 0.9em 3.2em
        border-radius: 0.4em
        flex-shrink: 0
        border: none
        background: $button-colour
        color: $text-colour
        font-size: 0.8em

.search-submit-icon
    position: relative
    img
        position: absolute
        left: 1.88em
        width: 1.4em
        top: 0.5em
        pointer-events: none // to pass-thru submit pointer clicks

.nominate-submit-icon
    position: relative
    img
        position: absolute
        left: 1.88em
        width: 1.2em
        top: 0.7em
        pointer-events: none // to pass-thru submit pointer clicks
.dashboard .nominate.emailinput .submit
    padding: 0.95em 2.5em 0.85em

.next-button
    display: inline-block
    margin: 1em 0
    padding: 1.1em 5.2em
    border-radius: 0.4em
    flex-shrink: 0
    border: none
    background: $button-colour
    color: $text-colour
    font-size: 0.8em
    cursor: pointer
