---
---
    
// mixins

@import mixins/reset
@import mixins/gradients
@import mixins/hs
@import mixins/opensans
@import mixins/media

// partials

@import partials/footer
@import partials/nav

////
////// html/body styles
////

.wrapper
    position: relative // setting position so that the flash messages can have an absolute position in relation to this element
    width: $wide-content-width
    max-width: calc(100% - 3rem)
    max-width: calc(100% - 3rem - env(safe-area-inset-left) - env(safe-area-inset-right))
    margin: 0 auto

html
    font-size: 16px

html, body
    height: 100%
    background: $dark-colour // so overscroll looks nicer
    letter-spacing: 0.02em

body
    font-family: "Open Sans", Helvetica, Arial, sans-serif
    overflow-x: hidden
    font-size: 1em
    color: $light-text
    display: flex
    flex-direction: column

    > content
        flex: 1 0 auto
        background-color: $content-bg-light
        color: $dark-stroke

// general effects 

.hide
    display: none

// faq header

#faq-header
    background-color: $header-colour-light
    padding: 0 20px
    min-height: 13em
    display: flex
    flex-direction: column
    justify-content: center
    @include mobile
        min-height: 6em
        justify-content: flex-start
    h1 > :first-child
        margin-top: 0
    div
        margin: 0 auto
        max-width: 1250px
        width: 100%
        h1
            color: white
            margin: 0
            font-weight: 600
            font-size: 275%

// content

.withsidebar
    display: flex
    flex-direction: row
    width: 100%
    padding-bottom: 3em
    @include mobile
        flex-direction: column

.sidebar
    min-width: 20.5em
    font-size: 87.5%
    margin-top: 2em
    @include mobile
        display: none
    .sidebar-content
        position: sticky
        top: 20px
        
        .sidebar-link
            display: block
            margin-bottom: 2em
            color: $faq-sidebar-color
            font-weight: 500              
            &:active
                font-weight: 700
                color: $faq-text-color
            &:target
                font-weight: 700
                color: $faq-text-color
        .selected
            font-weight: 700
            color: $faq-text-color  


.content
    .faq-content .toggle-header
        border-top: 1px solid $faq-stroke
        padding-bottom: 1em
    .faq-content .toggle-header:first-child
        border-top: 0
    .faq-content .toggle-header:last-child
        @include mobile
            padding-bottom: 0
    .faq-content div h3
        padding-top: 1em
        padding-bottom: 0.62em
        margin: 0
        @include mobile
            padding-bottom: 0
            font-size: 0.75em
    .faq-content div:first-child h3
        padding-top: 0
        margin-top: 0
    .faq-content div
        padding-top: 1.8em
        @include mobile
            padding-top: 1em
    .faq-content div:first-child
        padding-top: 0em
    h1
        padding-top: 1.1em
        padding-bottom: 0.5em
        text-transform: uppercase
        border-top: 1px solid $faq-stroke
        @include mobile
            font-size: 143%
            padding-top: 1.3em
            margin-bottom: 1.3em
    h1:first-child
        padding-top: 0
        border-top: 0
        margin-bottom: 0
        @include mobile
            font-size: 143%
            margin-bottom: 1.3em
    .answers
        margin-bottom: 0
        margin-top: 0
        padding-bottom: 2em
        @include mobile
            display: none
            font-size: 0.75em
    .answers.open
        @include mobile
            display: flex

.faq-caret-up, .faq-caret-down
    display: none
    pointer-events: none
    @include mobile
        display: inline
    
.toggle-header
    display: flex
    justify-content: space-between
    span
        display: flex
    @include mobile
        cursor: pointer
        h1
            font-size: 1.438em
            padding-right: 0.4em
        h3
            font-size: 0.75em
            padding-right: 0.4em

content
    background: $content-bg-dark
    color: $text-colour

    .wrapper
        padding: 4.25em 0 2.14em
        @include mobile
            padding: 1.85em 0 2.14em

h1
    color: $faq-text-color
    font-weight: 600
    font-size: 275%
    margin-top: 0.5em
    margin-bottom: 0.5em

h2
    color: $faq-text-color
    font-weight: 600
    word-wrap: break-word
    font-size: 1.4em
    line-height: 225%
    margin-top: 0.5em
    margin-bottom: 0.5em

h3
    color: $faq-text-color
    font-weight: 600
    font-size: 1.625em
    line-height: 187.5%
    margin-top: 0.5em
    margin-bottom: 0.5em

h4
    color: $faq-text-color
    font-size: 93.75%
    font-weight: 600
    font-weight: $semi-bold
    line-height: 187.5%
    margin-top: 0.5em
    margin-bottom: 0.5em

p
    color: $faq-text-color
    font-size: 1em
    margin-top: 1.2em
    margin-bottom: 2em
    line-height: 2.2em
    @include mobile
        font-size: 93.8%

a
    color: $primary-accent
    font-weight: $semi-bold
    text-decoration: none
    transition: color 0.3s ease
    &:hover
        color: saturate(darken(#00FFEB, 10%), 10%)

.button
    background-color: $secondary-accent
    border-radius: 4px
    border: none
    color: $light-text
    cursor: pointer
    display: inline-block
    font-weight: $semi-bold
    margin: 5px 32px 5px 0
    text-align: center
    width: 40%

    &.primary
        padding: 15px

    &.large
        padding: 25px

    &.disabled
        background-color: $disabled-accent

    &.small
        padding: 1px

    &.inline
        display: inline
        padding: 0.9em
        margin: 0 0 0 1em

.fatbutton
    display: block
    width: 100%
    padding: 1.65em 0
    background: $secondary-accent
    color: $light-text
    font-size: 1.1em
    text-align: center
    border-radius: 0.3em
    &.qualified
        background-color: $primary-accent

    &.pending
        background: $disabled-colour
        opacity: 0.7

label
    flex: 0 0 auto
    width: 10em
    text-align: right
    padding-right: 2em
    box-sizing: border-box
    padding-top: 0.95em

    &.error-text
        color: $primary-accent

input
    flex: 1 1 auto
    border: none
    font-weight: $normal
    color: $light-text
    background: $primary-background
    padding: 0.9em 1.9em
    border-radius: 0.4em
    width: 70%
    font-size: 100%
    margin: 0 0 22px
    &.error
        border: 1px solid $primary-accent

subtitle
    display: block
    margin-top: 2em
    font-size: 0.8em
    font-weight: 300
    line-height: 1.4
    color: $light-text

.inputfield.inline
    color: red
    display: flex
    flex-direction: row

.seperator
    border: 0.5px solid $dark-stroke
    width: 100%
    margin: 2em 0 2em 0
