---
title: Handshake Blog
html_title: Handshake Blog
layout: default
---

<div class="withsidebar">
    <div class="articles">
        {% for post in site.posts %}
        <div class="article">
            <div class="info">
                <h1>
                    {{ post.title }}
                </h1>
                {% include authorname.html author=post.author mono=true %}
                <span class="date">
                    {{ post.date | date: '%B %d, %Y' }}
                </span>
                <a class="permalink" href="{{ post.url }}">Permalink</a>
            </div>
            <div class="content">
                {{ post.content }}
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="sidebar">
        <div>
            {% include search.html %}

            {% for post in site.posts | random | limit: 4 %}
            <div class="articlelink">
                <h3>{{ post.title }}</h3>
                <p>{{ post.exerpt }}</p>
                <a class="readmore" href="{{ post.url }}">Read More</a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
