---
title: Handshake Blog Authors
html_title: Handshake Blog Authors
layout: default
---

<div class="withsidebar">
    <div class="authors">
        {% for author in site.data.authors %}
        {% assign authorname = author[0] %}
        {% assign info = author[1] %}
        <div class="authordetails">
            <div class="avatar"></div>
            <div class="content">
                <h2>{{ info.name }}</h2>
            </div>
        </div>
        <div class="authordetails">
            <div class="avatar">
                {% if info.avatar %}
                <img {% if info.avatar-circle %}class="circle"{% endif %} src="/img/avatars/{{ info.avatar }}"/>
                {% else %}
                <img src="/img/avatars/default.svg"/>
                {% endif %}
            </div>
            <div class="content">
                {{ info.bio | markdownify }}
                {% include authoridentities.html author=authorname %}
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="sidebar">
        <h2>Recent news:</h2>
        {% for post in site.posts | limit: 3 %}
        <div class="articlelink">
            <h3>{{ post.title }}</h3>
            <p>{{ post.exerpt }}</p>
            <a class="readmore" href="{{ post.url }}">Read More</a>
        </div>
        {% endfor %}
    </div>
</div>
