---
title: Handshake DOCS
html_title: Handshake DOCS
layout: default
---

<div class="withsidebar">
    <div class="sidebar">
        {% include sidebar.html content=site.posts type='post'%}
    </div>
    <div class="content-container">
    {% for post in site.posts reversed %}
        <h2 id="section-#{{post.title}}" class="post-titles">
            {{ post.title }}
        </h2>
        <div class="content">
            {{ post.content }}
        </div>
        {% endfor %}
    </div>
</div>
