<span class="author">
        {{ site.data.authors[include.author].name }}
</span>
<span class="authorlinks">
    {% assign identities = site.data.authors[include.author].identities %}
    {% if identities.github %}
    <a href="https://github.com/{{ identities.github }}"><img class="icon" src="/img/icons/github.svg"/></a>
    {% endif %}
    {% if identities.twitter %}
    <a href="https://twitter.com/{{ identities.twitter }}"><img class="icon" src="/img/icons/twitter.svg"/></a>
    {% endif %}
    {% if identities.site %}
    <a href="{{ identities.site }}"><img class="icon" src="/img/icons/link.svg"/></a>
    {% endif %}
</span>
