
<footer id="footer">

  <div class="top-wrap-full-light">
    <div class="top-wrap">
      <div>
        Developers who wish to receive > 5000 HNS may be required to provide certain identification information for tax purposes.
      </div>
      <div>Top<img onclick="window.scrollTo(0, 0)" src="/img/footer/up-button-dark.svg" alt="Go to the top of the page button"/></div>
    </div>
  </div>

  <div class='center-wrap'>

    <nav>
      <div class="header">
        <h3>Handshake</h3>
        <span><img class="footer-caret-up" src="/img/footer/up-caret.svg" alt="Toggle expanded menu on mobile"/></span>
        <span><img class="footer-caret-down hide" src="/img/footer/down-caret.svg" alt="Toggle expanded menu on mobile"/></span>
      </div>
      <div class="links">
        <a href="mailto:hello@handshake.org">Contact us</a>
        <a href="/blog">Blog</a>
        <a href="/community">Community</a>
        <a href="/trademark">Claim existing trademark</a>
        <a href="/signup">Claim your ownership</a>
      </div>
    </nav>

    <nav>
      <div class="header">
        <h3>Learn</h3>
        <span><img class="footer-caret-up" src="/img/footer/up-caret.svg" alt="Toggle expanded menu on mobile"/></span>
        <span><img class="footer-caret-down hide" src="/img/footer/down-caret.svg" alt="Toggle expanded menu on mobile"/></span>
      </div>
      <div class="links">
        <a href="/">Home</a>
        <a href="https://github.com/handshake-org/hnsd/wiki/Introduction">Introduction</a>
        <a href="/coindrop">Coindrop</a>
        <!-- request for comment link TBD -->
        <a href="#">Request for comment</a>
        <a href="/faq">FAQ</a>
      </div>
    </nav>

    <nav>
      <div class="header">
        <h3>Develop</h3>
        <span><img class="footer-caret-up" src="/img/footer/up-caret.svg" alt="Toggle expanded menu on mobile"/></span>
        <span><img class="footer-caret-down hide" src="/img/footer/down-caret.svg" alt="Toggle expanded menu on mobile"/></span>
      </div>
      <div class='links'>
        <!-- docs link TBD -->
        <a href='#'>Documentation</a>
        <!-- api docs link TBD -->
        <a href='#'>API Docs</a>
        <a href='https://github.com/handshake-org/hskd'>Run a full node</a>
        <a href='https://github.com/handshake-org/hnsd'>Install an SPV resolver</a>
        <!-- list of servers TBD -->
        <a href='#'>See a list of servers</a>
      </div>
    </nav>

    <nav>
      <div class="header">
        <h3>Languages</h3>
        <span><img class="footer-caret-up" src="/img/footer/up-caret.svg" alt="Toggle expanded menu on mobile"/></span>
        <span><img class="footer-caret-down hide" src="/img/footer/down-caret.svg" alt="Toggle expanded menu on mobile"/></span>
      </div>
      <div class="links">
        <!-- change endpoints depending on where these docs are hosted -->
        <a href="/locale/en">English</a>
        <a href="/locale/ko">한국어</a>
        <a href="/locale/zh">中文</a>
        <a href="/locale/jp">日本語</a>
      </div>
    </nav>

    <div>
      <img src="/img/footer/H-outline_logo.svg" alt="Handshake logo"/>
    </div>

  </div>

  <div class="bottom-wrap-full">

    <div class="bottom-wrap">

      <span class="coindrop-message-mobile">*Developers who wish to receive > 5000 HNS may be required to provide certain identification information for tax purposes.</span>

      <nav class="legal">
        <div>
          <a href="/terms">
            Terms of Use
          </a>
          <a href="/privacy">
            Privacy Policy
          </a>
        </div>

        <div class="copy">
          Copyright &copy; 2017-2018, Christopher Jeffrey <a href='https://opensource.org/licenses/mit-license.php'>(MIT License)</a>
        </div>
      </nav>

      <nav class='social-icons'>
        <a href='https://github.com/handshake-org/'>
          <img src='/img/footer/github.svg' alt='Github logo'/>
        </a>
        <a href='https://twitter.com/hns'>
          <img src='/img/footer/twitter.svg' alt='Twitter logo'/>
        </a>
        <a href='https://reddit.com/r/handshake'>
          <img src='/img/footer/reddit.svg' alt='Reddit logo'/>
        </a>
        <a href='https://t.me/joinchat/HcgLZw4FNLrDglvqxuY-xg'>
          <img src='/img/footer/telegram.svg' alt='Telegram logo'/>
        </a>
        <a href='https://https://discord.gg/8B6TpcB'>
          <img src='/img/footer/discord.svg' alt='Discord logo'/>
        </a>
      </nav>

    </div>

  </div>

</footer>