<!-- the mobile menu backdrop-->
<div id="overlay"></div>

<section id="top">
  <div class="center-wrap">
    <header>
      <h1 class="nav-logo"><a href="/"><img class="logo" src="/img/logo_colour.svg" alt="Handshake logo"/></a></h1>
      <nav class="nav-links">
        <ul>
          <li><a href="/coindrop">Coindrop</a></li>
          <li class="dropdown">
            <a href="javascript:void(0)">Developers <img src="/img/green-drop-down.svg" alt="Navigation drop down"></a>
            <div class="dropdown-menu hide">
              <ul>
                <li><a href="/docs">Docs</a></li>
                <li><a href="#">Request for Comment</a></li>
                <li><a href="/community">Community/Events</a></li>
                <li><a href="https://github.com/handshake-org">Github</a></li>
              </ul>
            </div>
          </li>
          <li><a href="/blog">Blog</a></li>
          <li class="login"><a href="/login">Login</a></li>
          <li><a href="/signup">Sign Up</a></li>
        </ul>
      </nav>
      <div id="nav-toggle" class="burgermenu" href="#" >☰</div>
    </header>
    <div id="burgernav">
      <ul>
        <li><a href="/coindrop">Coindrop</a></li>
        <li>
          <a href="javascript:void(0)">Developers</a>
          <ul>
            <li><a href="/docs">Full Documentation</a></li>
            <li><a href="/docs">API Docs</a></li>
            <li><a href="#">Request for Comment</a></li>
            <li><a href="/community">Community/Events</a></li>
            <li><a href="https://github.com/handshake-org">Github</a></li>
          </ul>
        </li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/faq">FAQ</a></li>
        <li><a href="/login" class="login">Log in</a></li>
        <li><a href="/signup">Sign Up</a></li>
      </ul>
    </div>
  </div> 
</section>
