// new standard colours
$header-colour-dark: #222646

$content-bg-light: #F7F9FB

$footer-colour-dark: #251C47
$footer-text-headers: #696589

$text-colour-dark: #152935

$link-colour-light: #00F9CA
$link-colour-dark: #693AFA

$placeholder-colour: #B3C0CD

// standard colours (from designers)
$button-colour: #693AFA
$content-bg: #292d46
$disabled-colour: #555A62
$header-bar-colour: #3C376F
$link-colour: #00FFEB
$secondary-colour: #ff5e51
$text-colour: #FFFFFF
$lighter-text-colour: rgba(255, 255, 255, 0.8)
$even-lighter-text-colour: rgba(255, 255, 255, 0.65)
$window-colour: #393B54

// colours we've worked out ourselves
$dark-colour: #222222
$graph-default-colour: #5F6578
