// font weights

$semi-bold: 500

$bold: 700

$normal: 300

// colors

$faq-text-color: #2B2152

$faq-sidebar-color: #696589

$faq-stroke: #474068

$dark-stroke: #251C47

$text-white: #FFFFFF

$primary-accent: #00FFEB

$secondary-accent: #693AFA

$primary-background: #2B2152

$secondary-background: #251C47

$nav-background: #433968

$component-background: #434262

$light-text: #F7F9FB

$dark-text: #251C47

$secondary-light-text: #C8C8C8

$disabled-accent: #696589

$flash-message-colour: #00e0b6

// new standard colours

$header-colour-dark: #222646
$header-colour-light: #433968

$content-bg-dark: #251C47
$content-bg-light: #F7F9FB

$content-text-light: #2B2152
$content-text-dark: #312751

$footer-text-headers-dark: #696589
$footer-header-color: #696589

$text-colour-dark: #152935

$link-colour-light: #00F9CA
$link-colour-dark: #693AFA

$window-colour: #434262

$placeholder-colour: #B3C0CD

// account settings
$checkbox-color: #693AFA

// community page
$content-link-colour-dark: #202544
$content-link-colour-light: #7549FB
$hr-colour-light: #00F9CA

// editorial-cta
$editorial-cta-bg: #2F2653
$editorial-cta-form-input: #696589
$editorial-cta-form-input-text-color: #2B2152
$editorial-cta-form-input-text-color-light: #2B2152
$editorial-cta-form-input-submit: #00F9CA
$editorial-cta-form-input-very-light: #F7F9FB

// standard colours (from designers)
$button-colour: #693AFA
$content-bg: #292d46
$disabled-colour: #555A62
$header-bar-colour: #3C376F
$link-colour: #00FFEB
$secondary-colour: #ff5e51
$text-colour: #FFFFFF
$lighter-text-colour: rgba(255, 255, 255, 0.8)
$even-lighter-text-colour: rgba(255, 255, 255, 0.65)

// colours we've worked out ourselves
$dark-colour: #222222
$graph-default-colour: #5F6578
