---
layout: default
---

<div class="article">
	{% include breadcrumbs.html %}
  <h2>
    {{ page.title }}
  </h2>
  <strong>
  	{{ page.author }}
  </strong>
  <p class="publish-date">
  	{{ page.publish_date }}
  </p>
  <div class="content">
    {{ page.content }}

    <hr />

  <p><small><strong>Remix this!</strong> You can find the complete source of this blog post at:<br /><a href="https://github.com/handshake-org/blog/blob/master/_posts/{{ page.file }}">https://github.com/handshake-org/blog/blob/master/_posts/{{ page.file }}</a><br />It's yours to remix and republish under <a href="https://creativecommons.org/licenses/4.0/by-sa">CC BY-SA 4.0</a> &mdash; please submit a pull request with any changes, typos or suggestions!</small></p>
    
  </div>
  <ul class="social">
    <li><a href="#"><img src="/img/share.svg" alt="Share"><span>Share</span></a></li>
    <li><a href="{{ post.twitter }}"><img src="/img/twitter.svg" alt="Share"><span>Tweet</span></a></li>
  </ul>

  
  
</div>

