---
layout: compress
---

<!DOCTYPE html>
<html lang='en-us'>
<head>
    {% include favicon.html %}
    <title>{% if page.html_title %}{{ page.html_title }}{% else %}{{ page.title }}{% endif %}</title>
    <link href='{{ '/css/style.css' | prepend:site.url }}' rel='stylesheet' type='text/css'/>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, viewport-fit=cover'>

    <link rel='alternate' type='application/rss+xml' href='{{ '/feed.xml' | prepend:site.url }}'>

    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    {% if page.exerpt %}
    <meta name='description' content='{{ page.exerpt | strip | escape }}'/>
    {% endif %}
    {% if page.keywords %}
    <meta name='keywords' content='{{ page.keywords | join: "," }}'/>
    {% endif %}
</head>
<body>
    {% include nav.html %}
    <content>
        <div class="wrapper">
            {{ content }}
        </div>
    </content>
    {% include footer.html %}
</body>
</html>

