---
layout: default
---
<div class="withsidebar">
    <div class="articles">
        <div class="article">
            <div class="info">
                <h1>
                    {{ page.title }}
                </h1>
                {% include authorname.html author=page.author mono=true %}
                <span class="date">
                    {{ page.date | date: '%B %d, %Y' }}
                </span>
                <a class="permalink" href="{{ post.url }}">Permalink</a>
            </div>
            <div class="content">
                {{ page.content }}
            </div>
        </div>
    </div>
    <div class="sidebar">
        <div>
            {% include search.html %}

            {% for post in site.posts | limit: 4 %}
            {% if post.url == page.url %}{% else %}
            <div class="articlelink">
                <h3>{{ post.title }}</h3>
                <p>{{ post.exerpt }}</p>
                <a class="readmore" href="{{ post.url }}">Read More</a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
